@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Reset some default styles */

html, body, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  
  body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    background-color:rgb(237 228 220);
    color: #333;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
  }
  h1 span {
    color: rgb(240, 126, 33);
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 10px;
    letter-spacing: 0.25rem;
    background-color: rgb(240, 126, 33);
    color: white;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    
  }
  button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: rgb(237, 101, 4);
    background: rgba(240, 126, 33, 0.5);
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    input,
    select {
      padding: 5px;
    }
  }
  